@import '../colors.scss';

.btn {
  color: $white-color !important;
  padding: 8px 24px;
  transition: 0.2s;
}

.btn-pz-primary {
  background: $primary-color !important;
  border: 2px solid $primary-color !important;
}

.btn-pz-primary:hover {
  background: $white-color !important;
  border: 2px solid $primary-color !important;
  color: $primary-color !important;
}

.btn-pz-secondary {
  background: $secondary-color !important;
  border: 2px solid $secondary-color !important;
}

.btn-pz-secondary:hover {
  background: $white-color !important;
  border: 2px solid $secondary-color !important;
  color: $secondary-color;
}

.btn-pz-modal-primary {
  background: $primary-color !important;
  border: 2px solid $primary-color !important;
  color: $white-color !important;
}

.btn-pz-modal-secondary {
  background: $white-color !important;
  border: 2px solid $primary-color !important;
  color: $primary-color !important;
}

.icon-edit {
  color: $primary-color !important;
  cursor: pointer !important;
}

.icon-delete {
  color: $danger-color !important;
  cursor: pointer !important;
}
