@import "../variables";
@import "../colors";

.text-bold {
  font-weight: $font-weight-bold !important;
}

.text-medium-plus {
  font-weight: $font-weight-medium-plus !important;
}

.text-color__primary {
  color: $primary-color !important;
}

.text-color__secondary {
  color: $secondary-color !important;
}
