@import "../variables";

.wrapper-dialog {
  padding: 30px !important;
}

.dialog-form__title {
  padding: 32px 32px 16px 32px !important;
}

.dialog-action-section {
  padding: 12px 12px 32px 32px !important;
}

.dialog-form__input {
  width: 96%;
  margin: 10px !important;
}
