@import "../colors";

.pizza-navbar {
  background-color: $primary-color;
  padding: 0px;
  margin: 0px;
}

.pizza-navbar__item-container {
  width: auto !important;
  display: flex !important;
  gap: 24px;
}

.pizza-navbar__item-link {
  text-decoration: none !important;
  color: $secondary-color !important;
}

.pizza-navbar__item-link:hover {
  color: $secondary-color !important;
}
