.wrapper__hero {
  min-height: 60vh;
  max-height: 600px;
  padding: 32px 64px;
  display: flex !important;
}

.wrapper__hero-information {
  margin: auto;
}

.wrapper__hero-image {
  width: 100%;
  object-fit: cover;
  margin: auto;
  transition: 0.5s;
}

.wrapper__hero-image:hover {
  transform: scale(1.1);
}
