@import "./styles/components/navbarStyles";
@import "./styles/components/form";
@import "./styles/components/button";
@import "./styles/components/font";
@import "./styles/components/spinner";
@import "./styles/scrollbar";

body {
  margin: 0px;
  padding: 0px;
}
